
<div class= "container">
<form action="/answer" method="get">
  <input id="input" type="text" name="question" placeholder="Tell me something">
  <input  id="ghost" type="submit" value="Ask!">
</form>
</div>
